@font-face {
    font-family: Comfortaa;
    src : url(../fonts/Comfortaa.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

.category{
    font-family: Comfortaa;
    font-size: 10px;
    color: #E85A4F;
    letter-spacing: 2px;
    padding-top: 15px;
    cursor: pointer;
}

/* NAVBAR START */
.nav{ /* navbar for other pages */
    background-image: url(../images/fashion-img/green-bg.jpg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 6%;
    padding-right: 6%;
}

.left-nav{ /* left side of nav -- logo and categories */
    display: flex;
    align-items: center;
    gap: 50px; 
}

.left-nav .logo a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left-nav h2 a{
    color: #E85A4F;
    text-decoration: none;
    font-size: 35px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    font-family: Comfortaa;
    color: #EFF4F0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 11px;
    font-weight: lighter;
    transition: 0.5s;
}
nav ul li a.active-page{
    color: #E85A4F;
}

nav ul li a:hover{
    color: #E85A4F;
}
.right-nav{
    display: flex;
    align-items: center;
    gap: 50px;
}
.right-nav button{
    color:#EFF4F0;
    border: 0.5px solid #EFF4F0;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
    border-radius: 20px;
    width: 90px;
    padding: 10px 0;
    transition: 0.4s;
}
.login:hover{
    color:#09282A;
    border: 0.5px solid #09282A;
    background-color:#EFF4F0;  
}
/* NAVBAR END */

/*Heading*/
.Title-heading{
    text-align:center;
    padding-top: 53px;
}

.Title-heading h3{
    font-size: 13px; 
    color:#E85A4F;
}

.Title-heading h1{
    font-size: 32px;
    font-weight: 200;
    color: #202020;
}

.image-container{
    display: flex;
    gap: 26px;
    justify-content: center;
    padding-top: 35px;
    text-align: center;
}
.section-2{
    padding-top:156px;
    text-align: center;
}
.section-2-image-box{
    display: flex;
    gap:25px;
    justify-content: center;
    padding-top: 53px ;
}


.sub-image-container{
    height: 499.11px;
    width:366px;
    font-size:13.5px;
    
}

.sub-image-container p:nth-child(2){
    font-size:13.5px;
    padding-top: 23px;
}

.sub-image-container img{
    cursor: pointer;
    transition: 0.5s;
    border-radius: 30px;
}

.sub-image-container img:hover{
    box-shadow: 0 0 40px 0px rgba(0,0,0,0.2);
}

.section-2-image-container{
    height: 424.66px;
    width:247px;
    text-align:center;
}

/*new sec*/
.section-2 .section-title h1{
    font-size: 32px;
    font-weight: 200;
}

.section-2-image-box img{
    cursor: pointer;
    transition: 0.5s;
    border-radius: 30px;
}

.section-2-image-box img:hover{
    box-shadow: 0 0 40px 0px rgba(0,0,0,0.2);
}

.section-3-image-box img{
    cursor: pointer;
    transition: 0.5s;
    border-radius: 30px;
}

.section-3-image-box img:hover{
    box-shadow: 0 0 40px 0px rgba(0,0,0,0.2);
}

.section-2-image-container h3, .section-3-image-container h3{
    font-size:15px;
    font-weight: 200;
    padding-top: 11px;
}

.section-3-image-container p,.section-2-image-container p{
    color: #E85A4F;
    font-family: Comfortaa;
    font-size: 10px;
    padding-top: 23px;
    letter-spacing: 2px;
}

.section-3-image-box{
    display: flex;
    gap:25px;
    justify-content: center;
    padding-top: 86px ;
    padding-bottom: 117px;
}

.section-3-image-container{
    height: 424.66px;
    width:247px;
    text-align:center;
}

.section-3-image-container h3{
    font-size:15px;
}


/* footer */
.Footer{
    height: 336px;
    width: 100%;
    
}
.Footer-content{
    padding-top: 56px;
    padding-left: 200px;
}
.Footer-content h1{
    font-size:24px;
    color:white;
    padding-bottom: 31px;
}
.Footer-content h2{
    font-size: 13.5px;
    color:white;
}

.Footer-subs{
    display: flex;
    gap: 9px;
    padding-top: 26px;
}
.Footer-content input{
   width: 381.44px;
   height: 41px;
   background: transparent;
   border: white;
   outline: white solid 1px;
   border-radius: 30px;
   color: white;
}
.Footer-content ::placeholder{
    padding-left: 20px;
}
.Footer-content button{
    height: 41px;
    width: 69px;
    background: transparent;
    border: white;
    outline: white solid 1px;
    border-radius: 30px;
}
.Footer-content button{
    text-align: center;
    color: white;
}
.Footer-foot{
    display: flex;
    justify-content: space-around;
    padding-top: 61px;
    color: #E85A4F;
}
.Footer-foot span{
    font-size:14px
}
.Footer-foot p{
    font-size:18px
}
.footer-nav a{
    outline: none;
    color: #E85A4F;
    text-decoration: none;
}
.footer-nav li{
    list-style-type: none;
    font-size: 14px; 
}
.footer-nav ul{
    display:flex;
    gap: 10px;
}
#messageBoxFooter{
    display: none;
    color: #E85A4F;
    font-style: italic;
}
