@font-face {
    font-family: Comfortaa;
    src : url(../fonts/Comfortaa.ttf);
}
@font-face {
    font-family: Lato;
    src : url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: LatoLight;
    src : url(../fonts/Lato/Lato-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* NAVBAR START */
.nav{ /* navbar for other pages */
    background-image: url(../images/newsletter-img/green-bg.jpg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 6%;
    padding-right: 6%;
}

.left-nav{ /* left side of nav -- logo and categories */
    display: flex;
    align-items: center;
    gap: 50px; 
}

.left-nav .logo a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left-nav h2 a{
    color: #E85A4F;
    text-decoration: none;
    font-size: 35px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    font-family: Comfortaa;
    color: #EFF4F0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 11px;
    font-weight: lighter;
    transition: 1s;
}
nav ul li a.active-page{
    color: #E85A4F;
}

nav ul li a:hover{
    color: #E85A4F;
}

.right-nav{
    display: flex;
    align-items: center;
    gap: 50px;
}

.right-nav button{ /* right side of nav -- icons*/
    color:#EFF4F0;
    border: 0.5px solid #EFF4F0;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
    border-radius: 20px;
    width: 90px;
    padding: 10px 0;
    transition: 1s;
}

.login:hover{
    color:#09282A;
    border: 0.5px solid #09282A;
    background-color:#EFF4F0;  
}
/* NAVBAR END */

/* SECTION 1 - start */
.section-1{
    background-color: #D9D9D9;
    min-height: 50vh;
    width: 100%;
}

.section-1-container{
    text-align: center;
    padding-top: 50px;
}

.sign-up{
    padding-top: 26px;
}

.section-1-container h1{
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 10px;
}

.section-1-container h3{
    margin-bottom: 15px;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}

.section-1-container p{ /* LATO */
    font-family: LatoLight;
    white-space: pre-line;
    font-size: 15px;
    line-height:23px;
}

.sign-up input{
   cursor: pointer;
   width: 381.44px;
   height: 41px;
   background: transparent;
   border: black;
   outline: black solid 1px;
   border-radius: 30px;
   color: black;
}

.sign-up button{
    height: 41px;
    width: 80px;
    background: transparent;
    border: black;
    outline: black solid 1px;
    border-radius: 30px;
}
.sign-up button{
    text-align: center;
    color: black;
}

.btn-signup{
    cursor: pointer;
    transition: 1s;
}

.btn-signup:hover{
    color:#EFF4F0; 
    border: 0.5px solid #09282A;
    background-color: #09282A;
}

.sign-up ::placeholder{
    padding-left: 20px;
}

#messageBox1{
    background-color: #E85A4F;
    padding: 7px;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    display: none;
}
/* CONTENT 1 - END */


/* CONTENT 2 - START */
.section-2{
    background-color: #ffffff;
    margin-top: 60px;
}

.section-2-container{
    text-align: center;
    padding-top: 50px;
}

.section-2-container h2{
    font-size: 22px;
    font-weight: 200;
}

.section-2-container .extra-news{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    margin-top: 100px;
}

.extra-news .extra-left{
    width: auto;
    height: auto;
}

.extra-news .extra-left h1{
    font-style: italic;
    margin-bottom: 30px;
    font-size: 45px;
}

.extra-news .extra-right{
    width: auto;
    height: auto;
    text-align: center;
}

.extra-news .extra-right h1{
    font-style: italic;
    margin-bottom: 30px;
    font-size: 45px;
}

.extra-news .extra-left p:nth-child(3), 
.extra-news .extra-right p:nth-child(2){
    margin-bottom: 35px;
}

.section-2-container p{
    font-size: 16px;
    white-space: pre-line;
    font-family: LoraLight;
}

.sign-up-extra input{
    width: 381.44px;
    height: 41px;
    background: transparent;
    border: black;
    outline: black solid 1px;
    border-radius: 30px;
    color: black;
    margin-bottom: 18px;
 }
 
 .sign-up-extra button{
     height: 41px;
     width: 381.44px;
     background: transparent;
     border: #E85A4F;
     outline: #E85A4F solid 1px;
     border-radius: 30px;
     display: block;
     margin-top: 5px;
 }
 
 .sign-up-extra button{
     text-align: center;
     color: #E85A4F;
     transition: 1s;
     cursor: pointer;
 }
 
 .sign-up-extra button:hover{
    color: #EFF4F0;
    background-color: #E85A4F;
}

 .sign-up-extra ::placeholder{
     padding-left: 20px;
 }

 #messageBox2{
    background-color: #EFF4F0;
    display: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
 }
 #messageBox3{
    background-color: #EFF4F0;
    display: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
 }

/* footer */
.Footer{
    height: 336px;
    width: 100%;
    
}
.Footer-content{
    padding-top: 56px;
    padding-left: 200px;
}
.Footer-content h1{
    font-size:24px;
    color:white;
    padding-bottom: 31px;
}
.Footer-content h2{
    font-size: 13.5px;
    color:white;
}

.Footer-subs{
    display: flex;
    gap: 9px;
    padding-top: 26px;
}
.Footer-content input{
   width: 381.44px;
   height: 41px;
   background: transparent;
   border: white;
   outline: white solid 1px;
   border-radius: 30px;
   color: white;
}
.Footer-content ::placeholder{
    padding-left: 20px;
}

.Footer-content button{
    cursor: pointer;
    height: 41px;
    width: 69px;
    background: transparent;
    border: white;
    outline: white solid 1px;
    border-radius: 30px;
}
.Footer-content button{
    text-align: center;
    color: white;
}

.Footer-foot{
    display: flex;
    justify-content: space-around;
    padding-top: 61px;
    color: #E85A4F;
}
.Footer-foot span{
    font-size:14px
}
.Footer-foot p{
    font-size:18px
}

.footer-nav a{
    outline: none;
    color: #E85A4F;
    text-decoration: none;
}
.footer-nav li{
    list-style-type: none;
    font-size: 14px; 
}
.footer-nav ul{
    display:flex;
    gap: 10px;

}

#messageBoxFooter{
    display: none;
    color: #E85A4F;
    font-style: italic;
}

.Footer{
    position:absolute;
    top: 145%;


}